[*.cs]
dotnet_diagnostic.IDE0090.severity = none
dotnet_diagnostic.IDE0042.severity = none
dotnet_diagnostic.IDE0057.severity = none
dotnet_diagnostic.IDE0031.severity = none
dotnet_diagnostic.IDE0044.severity = none
dotnet_diagnostic.CA2211.severity = none
dotnet_diagnostic.CA1050.severity = none
